h1{
  color: rgb(0, 0, 0);
  background-color: rgb(150, 190, 242);
  text-align: center;
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  padding: 100px;
  margin: 7cm;
  border-radius: 10cm;
  box-shadow: 2cm 2cm 2cm rgb(167, 211, 247);
}
h1:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  box-shadow: 2cm 2cm 2cm rgb(0, 0, 0);
}
